
body {
  background-color: lightblue;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  font-size: 0.95em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;  
  padding-top: 2%;
  padding-bottom: 2%;
  color: orangered;
  
}
h3,h4 {
  color: rgb(10, 30, 180);
  background-color: rgb(144, 236, 255);
  width: fit-content;
  font-weight: bolder;
  /* font-style: italic; */
}
p strong {
  color: rgb(10, 30, 180);
}
p.intro {
  font-style: italic;
}
p.caption {
  font-size: 13px;
}
img#roboimg {
  width: 60%;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  float: right;
}
img#imgGallery {
  width: 75%;
}
a:link {
  color: blue;
}
a:hover {
  color: red;
}
a:visited {
  color: purple;
}
a:active {
  color: darkgray;
}
header{
    background-color: darkblue;
    border: solid orange 10px;
    margin-bottom: 20px;
    box-shadow: 10px 10px darkblue;
    
}
div.design{
  font-weight: bolder;
}
div.nav{
    font-size:1.25em; 
     text-align: center;
     background-color: orange;
     height: 50%;
     width:calc(30%-30px);
     margin-bottom: 5%;
     padding-left: 10px;
     padding-right: 10px;
   }
   div.navbar{
    height:60px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    
  }

  div.footbar{
    height:60px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    
  }
