*{
    /* border:0.1em dashed; */
}

body{
    background-color: lightblue;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    font-size: .95em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: orangered;
    
}
h3{
    color: rgb(56, 30, 110);
    background-color: rgb(144, 236, 255);
    width: fit-content;
    font-weight: bolder;
    /* font-style: italic; */
}
img#roboimg{
    
    width: 80%;
    margin-left: 2em;
    margin-righ: 2em;
    margin-bottom: 1em;
}
a:link{
    color:blue;
}
a:hover{
    color:red;
}
a:visited{
    color:purple;
}
a:active{
    color:darkgray;
}